{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="breadcrumb">
        <p class="row">
            <a href="{{ path('app_home')}}">Dashboard</a>&nbsp;><span class="blue">Log-in</span>
        </p>
    </div>

    <div class="content-container grid">

        <div class="page-title row">
            <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.514648" width="32.9706" height="32.9706" rx="4" fill="var(--grey1)"/>
                <path d="M16.4854 25.4852V17M16.4854 17V8.51465M16.4854 17H24.9707M16.4854 17H8.00005" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h1>Log-in</h1>
        </div>

        <div class="login-form grey2-bg sat18">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
        
                <div class="login-form_fields column">
                    <div>
                        <label for="username">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                    </div>
            
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
        
                <div class="classic-form_submit row">
                    <button class="submit blue-bg sat18" type="submit">
                        Sign in
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
