{% extends 'base.html.twig' %}

{% block title %}Student List{% endblock %}

{% block body %}
    <h1>Student <span class="blue">List</span></h1>

    {% for student in students %}

        <p>
            <a href={{ path('show_student', {'id' : student.id}) }}>
                {{ student.firstname}} {{ student }}
            </a>
        </p>
        <p>
            {{ student.citySmall }}
        </p>
            
    {% endfor %}

{% endblock %}
