{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="breadcrumb">
        <p class="row">
            <span class="blue">Dashboard</span>
        </p>
    </div>
    <div class="content-container">
        <h1>Soon tm a dashboard here</h1>
    </div>

{% endblock %}
