{% extends 'base.html.twig' %}

{% block title %}Teacher List{% endblock %}

{% block body %}
    <h1>Teacher <span class="green">List</span></h1>

    {% for teacher in teachers %}
        <p>
            <a href={{ path('show_teacher', {'id' : teacher.id}) }}>
                {{ teacher.firstname}} {{ teacher }}
            </a>
        </p>
        
            
    {% endfor %}

{% endblock %}
