/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style: none;
    border: none;
    outline: none;
}
/* VARIABLES */
:root {

    --white: #EEF0F0;
    --black: #111315;

    --grey1: #1A1C1E;
    --grey2: #26282A;
    --grey3: #303336;
    --grey4: #7A8C96;
    
    --blue: #2E9CFF;
    --red: #FF495B;
    --green: #4ae779;

}
/* UTILITIES */
.blue {
    color: var(--blue);
}
.red {
    color: var(--red);
}
.grey1 {
    color: var(--grey1);
}   
.grey2 {
    color: var(--grey2);
}   
.grey3 {
    color: var(--grey3);
}
.grey4 {
    color: var(--grey4);
}
.black-bg {
    background-color: var(--black);
}
.pink-bg {
    background-color: var(--pink);
}
.green-bg {
    background-color: var(--green);
}
.red-bg {
    background-color: var(--red);
}
.grey1-bg {
    background-color: var(--grey1);
}   
.grey2-bg {
    background-color: var(--grey2);
}   
.grey3-bg {
    background-color: var(--grey3);
}
.blue-bg {
    background-color: var(--blue);
}
h1, .h1 {
    font-family: "Outfit", serif;
    font-weight: 700;
    font-size: 30px;
}
h2, .h2 {
    font-family: "Outfit", serif;
    font-weight: 500;
    font-size: 27px;
}
h3, .h3 {
    font-family: "Outfit", serif;
    font-weight: 500;
    font-size: 24px;
}
h4, .h4 {
    font-family: "Outfit", serif;
    font-weight: 500;
    font-size: 21px; 
}
.sat18 {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.breadcrumb {
    font-family: "Outfit", serif;
    font-weight: 300;
    font-size: 14px;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    background-color: var(--black);
    color: var(--white);
    height: 100vh;
}

/* GRID LAYOUT ______________________________________________________________________________*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 64px);
    grid-template-rows: repeat(auto-fill, 64px);
    gap: 16px;
}
/* SIDEBAR __________________________________________________________________________________*/
.sidebar {
    grid-column: span 4;
    height: 100vh;
    border-right: 1px solid var(--grey3);

    & h2 {
        grid-column: span 4;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--grey3);
    }
    & nav {
        grid-column: 2 / span 3;
        grid-row: 3 / -1;
        gap: 40px;
    }

    & .nav_block {
        gap: 16px;

        & ul {
            gap: 8px;

            & a {
                gap: 16px;
                align-items: center;
                padding: 6px 12px;
                border-radius: 4px;
                width: 90%;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: var(--grey2);
                }
                &.active {
                    background-color: var(--grey3);
                }
            }
        }
    }

    & .nav_separator {
        width: 160px;
        border-bottom: 1px solid var(--grey3);
    }
}

/* MAIN CONTENT ___________________________________________________________________________________ */
.breadcrumb {
    grid-column: 5 / -1;
    grid-row: 1;
    padding-left: 80px;
    border-bottom: 1px solid var(--grey3);
    & p {
        height: 100%;
        align-items: center;
    }
}
.content-container {
    grid-column: 6 / -1;
    grid-row: 2 / -1;
    grid-auto-flow: row;
}
.page-title {
    grid-column: 1 / -1;
    grid-row: 1;
    gap: 24px;
    align-items: center;
    & a {
        width: 32px;
        height: 32px;
        &:hover svg rect {
            fill: var(--grey2);
        }
    }
}
.page-info {
    height: fit-content;
    width: fit-content;
    grid-column: 1 / span 5;
    grid-row: 2;
    padding: 4px 8px;
    color: var(--grey2);
    border-radius: 8px;
    align-self: center;
}
/* LIST VIEWS ________________________________________________ */
.student-card-container,
.teacher-card-container,
.session-card-container {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
}
.session-display-btn {
    justify-self: center;
    grid-column: span 3;
    grid-row: 2;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--grey1);
    }
    &.blue-bg {
        color: var(--black);
        &:hover {
            background-color: var(--blue);
        }
    }
}
.student-card,
.teacher-card,
.session-card {
    border-radius: 16px;
    grid-column: span 4;
    grid-row: span 1;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--grey2);
    }
}
.session-card {
    grid-row: span 2;
    grid-column: span 6;
    align-items: start;
    & .session-card_infos {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    & svg {
        margin-right: 16px;
    }
    & p, .session-card_dates {
        align-items: center;
    }
    & .session-card_full {
        color: var(--blue);
    }
    & .session-card_futureStart {
        color: var(--blue);
    }
    & .session-card_finished {
        color: var(--grey4);
    }
}
/* DETAILS VIEWS ____________________________________________________________________ */
/* GENERAL */
.student-info_main,
.teacher-info_main,
.session-info_main {
    grid-column: 1 / span 4;
    grid-row: 2 / span 4;
    border-radius: 16px;
    padding: 32px;
    justify-content: space-between;
}
.student-info_contact,
.teacher-info_contact,
.session-info_lessons {
    grid-column: 6 / span 6;
    grid-row: 2 / span 3;
    & div {
        grid-column: span 6;
        grid-row: span 1;
        padding: 0 24px;
        align-items: center;
        border-radius: 16px;
        gap: 24px;
    }
}
.person-session-card {
    grid-column: span 6;
    grid-row: span 1;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 0 24px;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--grey2);
    }
}
/* STUDENT */
.student-h2 {
    grid-column: 1 / -1;
    grid-row: 6;
    align-self: self-end;
}
.student-noSession {
    grid-column: 1 / -1;
    grid-row: 1;
}
.student-session-container {
    grid-column: 1 / -1;
    grid-row: 7 / -1;
}
/* TEACHER */
.teacher-info_main {
    grid-row: 2 / span 2;
}
.teacher-info_contact {
    grid-row: 2 / span 2;
}
.teacher-h2 {
    grid-column: 1 / -1;
    grid-row: 4;
    align-self: self-end;
}
.teacher-session-container {
    grid-column: 1 / -1;
    grid-row: 5 / -1;
}
.teacher-noSession {
    grid-column: 1 / -1;
    grid-row: 1;
}
/* SESSION */
/* .session-lesson-h2 {
    grid-column: 6 / -1;
    grid-row: 2;
    align-self: self-end;
} */
.session-info_lessons {
    grid-column: 6 / -1;
    grid-row: 2 / span 4;
    &  div {
        grid-column: span 5;
        justify-content: space-between;
    }
    & svg {
        margin-right: 16px;
    }
    & p {
        align-items: center;
    }
}
#add-lesson-button {
    grid-column: span 1;
    grid-row: span 1;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    & svg {
        margin: 0;
    }
    &:hover {
        background-color: var(--grey2);
    }
}
.session-students-h2 {
    grid-column: 1 / span 5;
    grid-row: 6;
    align-self: self-end;
}
.session-student-container {
    grid-column: 1 / -1;
    grid-row: 7 / -1;
}
.session-student-card {
    grid-column: span 4;
    grid-row: span 1;
    border-radius: 16px;
    overflow: hidden;
    
    &.session-student-card_add {
        grid-column: span 1;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: var(--grey2);
        }
    }
    & a {
        align-items: center;
    }
    & .session-student-card_student {
        padding: 0 24px;
        width: 85%;
        height: 100%;
        justify-content: space-between;
        border-right: 2px solid var(--black);
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: var(--grey1);
        }
    }
    & .session-student-card_remove {
        width: 15%;
        height: 100%;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: var(--grey1);
        }
    }
}

/* ADD FORM ______________________________________________________ */
/* GENERAL / STUDENT */
.student-form,
.session-form {
    grid-column: 1 / -2;
    grid-row: 2 / span 7;
    border-radius: 16px;
    padding: 80px;

    & form {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 64px);
        column-gap: 96px;
        row-gap: 16px;
    }

    & div {
        grid-column: span 1;
        grid-row: span 1;

        & input, select {
            width: 100%;
            height: 32px;
            border-radius: 4px;
            padding-left: 16px;
            background-color: var(--grey3);
            line-height: 32px;
        }

    }
    & .student-form_submit,
    .session-form_submit {
        grid-column: span 2;
        grid-row: -1 / span 1;
        justify-content: center;
    }
    & .submit {
        cursor: pointer;
        padding: 8px 40px;
        border-radius: 8px;
        color: black;
    }
}
/* SESSION */
.session-form {
    grid-row: 2 / span 6;
}

/* MODAL ____________________________________________________________________________________________________ */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    grid-column: 5 / -2;
    grid-row: 3 / -3;
    border-radius: 16px;
}
.modal-title {
    grid-column:  2 / -2;
    grid-row: 1;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    & div {
        gap: 24px;
    }
}
.modal-container {
    grid-column:  2 / -1;
    grid-row: 2 / -1;
}
.student-modal_card {
    padding: 6px;
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 16px;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        background-color: var(--grey2);
    }
}
.student-modal_checkbox {
    display: none;
}
.student-modal_checkbox:checked + .student-modal_card {
    background-color: var(--black);
}

/* UTILITIES END */
.hidden {
    display: none;
}